/* Revolution Slider Slides */

.tp-caption.boxshadow {-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);}								
.tp-caption.black {color: #000; text-shadow: none;}				
.tp-caption.noshadow {text-shadow: none;}		
.tp-caption a {color: #ff7302; text-shadow: none; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out;}
.tp-caption a:hover {color: #ffa902;}
.tp-caption.border-video {position: absolute; left: -10px; top: -5px; width: 580px; height: 580px; background-color: #fff;}

/* Revolution Slider adjustments for MultiPurpose */

.rev_slider_wrapper {position: relative; z-index: 20; overflow: hidden; max-height:430px !important; background-color: #f0f1f2;}
.revolution-slider .fullscreenbanner li {margin: 0; visibility: hidden;}

.revolution-slider a.btn.large {color: #fff; height: 40px !important; line-height: 40px !important; font-size: 16px;}
.revolution-slider a.btn.large.light-gray {color: #555;} 

@media (max-width: 980px){
	.revolution-slider {margin: 0 -20px;}
}
@media (max-width: 400px){
	.rev_slider_wrapper .tparrows {display:none;}
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.rev_slider_wrapper a.btn.large {height: 35px !important; line-height: 35px !important; padding: 0 15px !important; font-size: 15px !important;} 
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.rev_slider_wrapper a.btn.large {height: 30px !important; line-height: 30px !important; padding: 0 12px !important; font-size: 15px !important;} 
}
@media only screen and (min-width: 0px) and (max-width: 479px) {
	.rev_slider_wrapper a.btn.large {height: 24px !important; line-height: 24px !important; padding: 0 5px !important; font-size: 10px !important;} 
}
.tparrows {opacity: 1; transition: opacity 0.4s ease-out 0s;}
.tp-bullets {opacity: 1; transition: opacity 0.4s ease-out 0s;}
.tp-leftarrow.default {z-index:100;cursor:pointer; position:relative; z-index:100;cursor:pointer; position:relative; background:url(../images/arrows.png) no-Repeat top left; width:30px;	height:100px;}
.tp-rightarrow.default {z-index:100;cursor:pointer; position:relative;	background:url(../images/arrows.png) no-Repeat top right;	width:30px;	height:100px;}
.tp-leftarrow:hover {background-position:bottom left;}
.tp-rightarrow:hover {	background-position:bottom right; }								
.tp-bullets.simplebullets.round .bullet	{cursor:pointer; position:relative;	background:url(../images/paginator-orange.png) no-Repeat top right; width:10px; height:11px;  margin-right:0px; float:left; margin-top:-10px; margin-left:3px;}
.tp-caption iframe {border: 10px solid #fff; -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2); box-shadow: 0 0 4px rgba(0,0,0,0.2);}