/* partial transparency the ie way */
.social ul li a, ul.social li a  {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30); filter: alpha(opacity=30);}
.social ul li a:hover, ul.social li a:hover {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); filter: alpha(opacity=100);}
.slider > * {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);filter: alpha(opacity=0);}
.slider3 .next-prev a {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);filter: alpha(opacity=50);}
.slider3 .next-prev a:hover {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);filter: alpha(opacity=100);}
.msg a.hide {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20); filter: alpha(opacity=20);}
.overlay {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); filter: alpha(opacity=50);}

/* partially transparent backgrounds */
.slider2 article div {background: url('../images/ie/white80.png');}
.slider5 h3 {background: url('../images/ie/black60.png');} 
.slider8 article>div>div {background: url('../images/ie/black75.png');} 

/* transparency fix */
.slider3 .slider-pager,
.slider3>div,
.slider4 article>div,
.slider6>div,
.slider9 article>div
{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
}

.color-azure .searchform button,
.color-blue .searchform button,
.color-brown .searchform button,
.color-gray .searchform button,
.color-green .searchform button,
.color-pink .searchform button,
.color-purple .searchform button,
.color-red .searchform button,
.color-turquoise .searchform button,
.color-yellow .searchform button,
.color-tan .searchform button,
.color-silver .searchform button,
.color-black .searchform button {filter: none;}

label.radio input, label.checkbox input {visibility: visible;}